<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>500 Internal Server Error</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
    <img class="image" th:src="@{/img/500.png}" style="width: 50%"/>
    <h2 style="font-weight: bolder; color: #17a2b8">Interval Server Error</h2>
</div>
</body>
</html>