<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title>Beranda</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>

    <style>

    </style>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="container-fluid">
        <br>
        <div class="d-flex flex-row justify-content-center" style="margin: 2rem 0;">
            <h3 style="text-align: center;font-weight:bolder; margin: 0 1rem;" th:text="'Hi, ' + ${#httpServletRequest.remoteUser} + '!'"></h3>
            <h3 style="text-align: center;">Selamat Datang di Sistem Informasi Perpustakaan</h3>
        </div>
        <div th:if="${msg}"
             id="alert"
             class="alert d-flex alert-dismissible fade show w-25"
             th:classappend="${type}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <span th:text="${msg}" th:remove="tag"></span>
        </div>

    </div>

</body>
</html>