<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${buku.judul}">Detail Buku</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container-fluid">
    <div style="margin-left: 8rem; margin-top: 1rem" th:if="${msg}"
         id="alert"
         class="alert d-flex alert-dismissible fade show w-50"
         th:classappend="${type}">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span th:text="${msg}" th:remove="tag"></span>
    </div>
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header bg-dark text-light">Detail Data Buku</div>
                <div class="card-body">
                    <div class="d-flex flex-row justify-content-between align-items-center" style="height: 64px;">
                        <a th:href="@{/buku}">Kembali ke Daftar Buku</a>
                        <form th:action="@{/buku/pinjam/} + ${buku.id}" method="POST">
                            <button th:if="${isAuthorized}" class="btn btn-primary">Pinjam</button>
                        </form>
                    </div>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Judul</td>
                            <td th:text="${buku.judul}"></td>
                        </tr>
                        <tr>
                            <td>Pengarang</td>
                            <td th:text="${buku.pengarang}"></td>
                        </tr>
                        <tr>
                            <td>Penerbit</td>
                            <td th:text="${buku.penerbit}"></td>
                        </tr>
                        <tr>
                            <td>Jumlah</td>
                            <td th:text="${buku.jumlah}"></td>
                        </tr>
                        <tr>
                            <td>Jenis Buku</td>
                            <td th:text="${buku.jenisBuku.nama}"></td>
                        </tr>
                        <tr>
                            <td>Jumlah Buku Dipinjam</td>
                            <td th:text="${jumlahDipinjam}"></td>
                        </tr>
                        <tr>
                            <td>Jumlah Buku yang Tersedia</td>
                            <td th:text="${buku.jumlah - jumlahDipinjam}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>
</body>
</html>