<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title>Form Pengajuan Surat Peringatan</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container-fluid">
    <h2 style="margin-left: 215px; margin-top: 40px">Pengajuan Surat Peringatan Overdue</h2>
    <div th:if="${msg}"
         class="alert alert-success" role="alert">
        <h2 th:text="${msg}"></h2>
    </div>
    <div class="row" style="margin-left: 200px; margin-top: 30px">
        <div class="col-md-6">
            <form th:action="@{/surat/pengajuan}" th:object=${surat} method="POST" >
                <label>Jenis Surat</label>
                <input type="text" name="jenis" class="form-control" placeholder="5" th:field="*{jenis}" th:value="5" disabled/>
                <label>Keterangan</label>
                <input type="text" name="keterangan" class="form-control" th:field="*{keterangan}" required />
                <br>
                <button type="submit" class="btn btn-primary">Simpan</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>