<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<div class="container-fluid">
    <br/><br/>
    <div class="d-flex flex-row justify-content-center" style="margin: 2rem 0">
        <h3 style="text-align: center; font-weight: bolder; color: #17a2b8; margin: 0 0.5rem">Hello!</h3>
        <h3 style="text-align: center">Selamat Datang di Sistem Informasi Perpustakaan</h3>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Log In
                </div>
                <div class="card-body">
                    <div th:if="${param.error}">
                        <span style="color: red">Invalid username or password</span>
                    </div>
                    <form th:action="@{/login}" method="POST">
                        <label>Username:</label>
                        <input type="text" class="form-control" name="username">
                        <label>Password:</label>
                        <input type="password" class="form-control" name="password">
                        <br/>
                        <button type="submit" class="btn btn-info ">Sign In</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>