<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail User</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col">
            <div class="card">
                <div class="card-header bg-dark text-light">User yang sedang Login</div>
                <div class="card-body">
                    <a th:href="@{/}">Kembali ke Beranda</a>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Username</td>
                            <td th:text="${username}"></td>
                        </tr>
                        <tr>
                            <td>Role</td>
                            <td th:text="${role}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div th:if="${userDetail != null}">
                    <div class="card-header bg-dark text-light">Detail Data User</div>
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>Nama</td>
                                <td th:text="${userDetail.nama}"></td>
                            </tr>
                            <tr th:if="${userDetail.nig != null}">
                                <td>NIG</td>
                                <td th:text="${userDetail.nig}"></td>
                            </tr>
                            <tr th:if="${userDetail.nis != null}">
                                <td>NIS</td>
                                <td th:text="${userDetail.nis}"></td>
                            </tr>
                            <tr th:if="${userDetail.nip != null}">
                                <td>NIP</td>
                                <td th:text="${userDetail.nip}"></td>
                            </tr>
                            <tr>
                                <td>Tempat Lahir</td>
                                <td th:text="${userDetail.tempatLahir}"></td>
                            </tr>
                            <tr>
                                <td>Tanggal Lahir</td>
                                <td th:text="${userDetail.tanggalLahir}"></td>
                            </tr>
                            <tr>
                                <td>Alamat</td>
                                <td th:text="${userDetail.alamat}"></td>
                            </tr>
                            <tr>
                                <td>Telepon</td>
                                <td th:text="${userDetail.telepon}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>