<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title>Tambah User</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>

    <style>
        input {
            margin-bottom: 1.5rem;
        }
    </style>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container-fluid">
    <br><h2 style="text-align: center; margin: 1.5rem 0">Tambah User</h2>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div th:if="${msg}"
                 id="alert"
                 class="alert d-flex alert-dismissible fade show"
                 th:classappend="${type}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <span th:text="${msg}" th:remove="tag"></span>
            </div>
            <div class="card">
                <div class="card-header">Tambah User Pustakawan Baru</div>
                <div class="card-body" style="margin-bottom: 3rem">
                    <form th:action="@{/user/tambah}" method="post">
                        <label>User Name</label>
                        <input type="text" name="username" class="form-control" required/>
                        <label>Password</label>
                        <input type="password" name="password" class="form-control" required />
                        <label>Role</label>
                        <select name="role" class="form-control" required>
                            <option value="">-- Pilih Role --</option>
                            <option th:each="role : ${listRole}" th:value="${role.id}" th:text="${role.nama}"></option>
                        </select>
                        <label>Nama</label>
                        <input type="text" name="nama" class="form-control" required />
                        <label>Tempat Lahir</label>
                        <input type="text" name="tempatLahir" class="form-control" required />
                        <label>Tanggal Lahir</label>
                        <input type="date" name="tanggalLahir" class="form-control" required />
                        <label>Alamat</label>
                        <input type="text" name="alamat" class="form-control" required />
                        <label>Telepon</label>
                        <input type="text" name="telepon" class="form-control" required />
                        <br/>
                        <button type="submit" class="btn btn-info">Simpan</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>