<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<br>
<div class="container-fluid">
    <div class="alert alert-success" role="alert">
        <h2 th:text="'Status pinjaman dengan id ' + ${id} + ' berhasil diubah'"></h2>
        <a th:href="@{/}"> Kembali ke Beranda</a>
    </div>
</div>
</body>
</html>
